body, html {
  height: 100%;
  margin: 0;
  background-color: #000000;
  margin: 0;
  font-family: "Inconsolata";
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 180.3; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal {
  width: 60%;          
  height: 65%;
  background-color: #1E2019;
  color : #53DD6C; 
  border-radius: 15px;  
  box-shadow: 0 0 20px #1E2019, 
              0 0 30px #D3D3D3; 
}

.help-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px 0px 20px;

}

.help-item {
  margin-right: 12px;
  color : #F29559; 
}

.intro-text {
  margin: 10px 0px 0px 20px;
  
}
.terminal-text {
  margin: 20px 0px 0px 20px;
}

.line-container {
  display: flexbox;
}

.under-hover {
  position: relative;
  color: #F29559;
  cursor: pointer;
  padding-bottom: 5px;
}
.under-hover:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #F29559;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.under-hover:hover:after { 
  width: 100%; 
  left: 0; 
}

.white-terminal {
  color: #E3C0D3;
}

.input-text {
  color: #A2ABB5;
}

.single-line-input {
  border: none; 
  background: transparent; 
  outline: none; 
  padding: 0; 
  margin: 0;
  font-size: inherit;
  color: #A2ABB5; 
  width: 80%;
  font-family: "Inconsolata";
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;
}